body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.open {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#time {
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
}
#viewTopScore {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
}

#answersContainer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: large;
    width: 100px;
    margin: auto;
}

.inquiry {
  text-align: center;
}

button {
  background-color: rgb(11, 144, 189);
  color: lightcyan;
  border-radius: 10px;
  font-size: 20px;
}

.done {
  text-align: center;
}

.highscores {
  text-align: center;
}

.show {
  display: block;
}
.hide {
  display: none;
}
